<div class="issue-list-header">
    <div class="container clearfix">
        <h1 class="issue-list-heading">所有活动都在下面了...</h1>
    </div>
</div>
<div class="container mt-5 mb-5">
    <h2>Listing Articles</h2>
    <h3><%= link_to 'New article', new_article_path %></h3>
    <table class="table table-hover table-bordered" style="width:100%">
          <tr class="thead-dark">
            <th width="35%">Title</th>
            <th width="35%">Text</th>
            <th width="50%">Features</th>
          </tr>
          <% @articles.each do |article| %>
          <tr>
            <td><%= article.title %></td>
            <td><%= article.text %></td>
            <td>
              <ul class="row">
                <li class="col-4 text-center"><%= link_to 'Show', article_path(article), class: 'btn btn-sm btn-block btn-primary' %><li>
                <li class="col-4 text-center"><%= link_to 'Edit', edit_article_path(article), class: 'btn btn-sm btn-block btn-success' %></li>
                <li class="col-4 text-center"><%= link_to 'Destroy', article_path(article), method: :delete,  data: { confirm: 'Are you sure?'}, class: 'btn btn-sm btn-block btn-danger' %></li>
              </ul>
            </td>
          </tr>
          <% end %>
    </table>
</div>